
.mainphoto {
	clear:both;
	width: 1000px;
	height: 600px;

}
.logo {
	margin-left: 10px;
	height: 200px;
	width: 400px;
	float: left;
}
li {
	margin-top: 20px;
	float: right; 
	color: black;
}
.formulario {
	position: absolute;
	margin-top: -15px;
	left: 50%;
	right: 50%;

}
.fotocamara {
	border-radius: 100%;
	height: 100px;
	width: 100px;
}
section div {
	float: left;
}